{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-0 col-lg-2"></div>
            <div class="col-md-0 col-lg-4"></div>
            <div class="col-md col-lg-6 mb-5 {{ 'justify-content-center' if not data else 'justify-content-end' }}">
                <h2 class="display-3"><span class="display-4">Balance:</span><br /><strong>{{ cash }}</strong></h2>
            </div>
        </div>

        <!-- If user just made a purchase, display it here -->

        {% if data %}
            <div class="row justify-content-center">
                <div class="col-md-1 col-lg-12">
                    <h2 class="display-4" id="secondh2">Owned</h2>
                </div>

                <div>
                    <div class="col-xs-1 col-sm-3 col-md-4 col-lg-12">
                        <table>
                            <thead>
                                <tr>
                                    <th class="pl-1">COMPANY</th>
                                    <th class="pl-1">SYMBOL</th>
                                    <th class="pl-1">SHARES</th>
                                    <th class="pl-1">PRICE</th>
                                    <th class="pl-1">WORTH</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for row in data %}
                                    <tr class="{{ loop.cycle('even', 'odd') }}">

                                        {% for k, v in row.items() %}
                                                <td>{{ v }}</td>
                                        {% endfor %}

                                    </tr>
                                {% endfor %}

                                <tr>
                                    <!-- Blank table data slots with one space each, to take up space. -->
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td>VALUE</td>
                                    <td>{{ "$%.2f" % (total|round(2)) }}</td>
                                </tr>

                                <tr>
                                    <!-- Blank table data slots with one space each, to take up space. -->
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td>NET WORTH</td>
                                    <td>{{ "$%.2f" % (grand_total|round(2)) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-around">
                <div class="col display-4">You have no purchased stocks.</div>
            </div>
        {% endif %}
    </div>
{% endblock %}