{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block head %}
    <style>
        input {
            border: solid 1px #348ceb!important;
            color: black!important;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container row justify-content-center">
        <form action="/quoted" method="post" class="mt-5 form">
            <div class="form-group">
            <input class="form-control" type="text" name="company" value="{{ company }}" readonly>
            </div>
            <div class="form-group">
            <input class="form-control" type="text" name="symbol" value="{{ symbol }}" readonly>
            </div>
            <div class="form-group">
            <input class="form-control" type="text" name="price" value="${{ price }}" readonly>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-lg" type="submit" autofocus>Buy This Stock</button>
            </div>
        </form>
    </div>
{% endblock %}