{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" class="form">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="username" pattern="(\w*)" placeholder="Username" type="text" minlength="4" autofocus required>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}" placeholder="Password" minlength="8" required>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="confirmation" placeholder="Confirm Password" minlength="8" required>
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <div class="explanation">
        <h5>Password Needs:</h5>
        <ul>
            <li class="minimum">8 or more characters</li>
            <li class="uppercase">one uppercase letter</li>
            <li class="lowercase">one lowercase letter</li>
            <li class="number">and one number</li>
        </ul>
    </div>
{% endblock %}